<!-- Web.Config Configuration File -->
<configuration>
	<configSections>
		<sectionGroup name="CAM.PasswordGeneratorLibrary">
			<section name="PasswordGenerators" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			<section name="RandomNumberGenerators" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			<section name="PasswordGeneratorDefaults" type="System.Configuration.SingleTagSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
	</configSections>
	<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5" />
			</system.Web>
	-->
	<system.web>
		<globalization requestEncoding="UTF-8" responseEncoding="UTF-8" uiCulture="de" culture="de-AT"/>
		<customErrors mode="Off"/>
		<xhtmlConformance mode="Strict"/>
		<compilation debug="true" targetFramework="4.5">
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.net>
		<mailSettings>
			<smtp from="system@studienserver.at">
				<network host="smtp.1und1.de" userName="system@studienserver.at" password="system8439"/>
			</smtp>
		</mailSettings>
	</system.net>
	<connectionStrings>
		<add name="SqlDbOld" connectionString="Server=IWF1-064\SQLEXPRESS;Integrated Security=True;Database=PSP;Persist Security Info=True" providerName="System.Data.SqlClient"/>
		<add name="SqlDb" connectionString="Server=(local)\S15327977;Integrated Security=True;Database=PSP;Persist Security Info=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<CAM.PasswordGeneratorLibrary>
		<PasswordGenerators>
			<add key="RandomPasswordGenerator" value="CAM.PasswordGeneratorLibrary.RandomPasswordGenerator"/>
			<add key="PronounceablePasswordGenerator" value="CAM.PasswordGeneratorLibrary.PronounceablePasswordGenerator"/>
		</PasswordGenerators>
		<RandomNumberGenerators>
			<add key="cryptographic" value="CAM.PasswordGeneratorLibrary.CryptographicRandomNumberGenerator"/>
			<add key="pseudo-random" value="CAM.PasswordGeneratorLibrary.PseudoRandomNumberGenerator"/>
		</RandomNumberGenerators>
		<PasswordGeneratorDefaults PasswordGenerator="RandomPasswordGenerator" RandomNumberGenerator="cryptographic"/>
	</CAM.PasswordGeneratorLibrary>
	<appSettings>
		<add key="BaseURL" value="PSP/"/>
		<add key="GeneralTitle" value="PSP :: Beta Release 2015-10-05 "/>
		<add key="CAM.RandomPasswordGenerator.Numbers" value="0,1,2,3,4,5,6,7,8,9"/>
		<add key="CAM.RandomPasswordGenerator.LowercaseCharacters" value="a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z"/>
		<add key="CAM.RandomPasswordGenerator.UppercaseCharacters" value="A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z"/>
		<add key="CAM.RandomPasswordGenerator.OtherCharacters" value=" ,!,&quot;,#,$,%,&amp;,',(,),*,+,,,-,.,/,:,;,&lt;,=,&gt;,?,@,[,\,],^,_,`,{,|,~"/>
		<add key="CAM.PronounceablePasswordGenerator.LowercaseVowels" value="a,e,i,o,u"/>
		<add key="CAM.PronounceablePasswordGenerator.UppercaseVowels" value="A,E,I,O,U"/>
		<add key="CAM.PronounceablePasswordGenerator.SpecialVowels" value="|,!,@,0"/>
		<add key="CAM.PronounceablePasswordGenerator.LowercaseConsonants" value="b,c,d,f,g,h,j,k,l,m,n,p,q,r,s,t,v,w,x,y,z"/>
		<add key="CAM.PronounceablePasswordGenerator.UppercaseConsonants" value="B,C,D,F,G,H,J,K,L,M,N,P,Q,R,S,T,V,W,X,Y,Z"/>
		<add key="CAM.PronounceablePasswordGenerator.SpecialConsonants" value="$"/>
	</appSettings>
</configuration>
